@charset "utf-8";
html{
    margin: 0;
    padding: 0;
}
.header-logo-menu {
    margin:0 0 5px 9%;
    height: 30px;
    display: flex;
    justify-content:space-between;
}
.logo{
    margin: 5px;
}
.header-logo-menu nav {
    display: flex;
    justify-content: space-between;
}
.header-menu{
    margin-right: 100px;
}
.header-menu li{
    justify-content: center;
    display: inline;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 900;
}
.utility-menu li{
    display: inline;
    margin-right: 30px;
}
.breadcrumbs {
    list-style: none;
    margin:0 0 0 12%;
    padding-top: 0;
}
.breadcrumbs li{
    display: inline;
    font-size: 10px;
}
.breadcrumbs li::after{
    content: " > ";
}
.breadcrumbs li:last-child::after{
    content: none;
}
.title-img-box{
    display: flex;
    height: 250px;
    background-image: url(images/h1whats2.jpg);
    background-size: cover;
    background-position: center;
}
.title-img-box h1{
    width:1000PX;
    margin: 30px auto auto auto;
    color:#ffffff;
}
.main-box{
    width: 800px;
    margin: auto;
}
.share{
    margin-top:50px;
}
.share-icon{
    width: fit-content;
    margin-left: auto;
    display: flex;
}
.share-icon li{
    display: inline;
    margin-right: 15px;
}
.share-icon li img{
    height: 25px;
}
.share-icon:first-child::before{
    content: "Share";
    font-size: 12px;
    color: #808080;
    margin-right: 15px;
}