@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
html,body,header,footer{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

ul,ol{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #0c419A;
}

header{
    display: inline;/*メモーstickeyの固定が親のブロック要素での範囲で決まるからインライン化する*/
}

.header-stickey{
    position:sticky;
    z-index: 2;
    top: 0;
    background-color: #ffffff;
}

.header-logo-menu {
    height: 60px;
    max-width: 1750px ;
    margin-left: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    height: 28px;
    width: 56px;
    margin-left:30px ;
}

.header-logo-menu nav {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.header-menu li{
    display: inline-block;
    padding:20px 0;
    margin-right: 10px;
}

.header-menu a{
    display: inline-block;
    padding: 20px 0;
    align-items: center;
    font-feature-settings: "palt";
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.header-menu a:hover{
    border-bottom: solid 2px #191970 ;
    color: #0c419A;
}

.utility-menu{
    margin-right: 10px;
}

.utility-menu li{
    display: inline-block;
}

.utility-menu img{
    padding: 20px 0 20px;
    height: 20px;
    width: 20px;
    margin:20px 10px 20px 25px;
}

.utility-menu img:hover{
    opacity: 0.5;
}

.breadcrumbs {
    list-style: none;
    max-width: 1600px;
    margin:0 0 20px auto; 
    padding-left: 60px;
}

.breadcrumbs li,.breadcrumbs a{
    display: inline-block;
    font-size: 12px;
    font-weight: 200;
    color: #999999;
}

.breadcrumbs li::after{
    content: " > ";
}

.breadcrumbs li:last-child::after{
    content: none;
}

.title-img-box{
    display: flex;
    height: 250px;
    background-image: url(images/h1whats2.jpg);
    background-size: cover;
    background-position: center;
}

.h1-category{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.title-img-box h1{
    width:1000PX;
    font-size: 28px;
    font-weight: 500;
    margin: 30px auto auto auto;
    color:#ffffff;
}

.main-box{
    max-width:800px ;
    margin: auto auto 200px;
}

.main-box p{
    line-height: 1.9;
    font-weight: 400;
    color: #333333;
}

.share{
    margin-top:50px;

}

.share-icon{
    width: fit-content;
    margin-left: auto;
    display: flex;
}

.share-icon li{
    display: inline;
    margin-right: 20px;
}

.share-icon li img{
    height: 25px;
}

.share-icon:first-child::before{
    content: "Share";
    font-size: 12px;
    color: #808080;
    margin-right: 15px;
}

.main-h2::before{
    display: inline-block;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(images/bg-heading-h2.png);
}

img[src="images/story06img01.jpg"]{
    display: block;
    height: auto;
    max-width: 100%;
}

.pdf-btn{
    display: block;
    text-align: center;
    background-color: #005bac;
    color: #ffffff;
    max-width: fit-content;
    height: auto;
    padding: 10px 20px;
    margin: 30px auto 60px auto;
    font-weight: 200;
}

.pdf-btn::before{
    position: relative;
    top: 10px;
    content: "〉";
    font-size: 8px;
}

.pdf-btn::after{
    display: inline-block;
    content: "";
    background-image:url(images/icon-pdf.svg);
    height: 16px;
    width: 16px;
    margin-left: 20px;
}

.pdf-btn:hover{
    opacity: 0.9;
}

.next-prev{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.next-prev a:hover{
    text-decoration: underline;
}

.prev::before{
    content: "<";
    color: #333333;
}

.next::after{
    content: ">";
    color: #333333;
}

.blue-box{
    max-width: 800px;
}

.h2-box{
    padding:20px 10px;
    background-color: #deecf8;
}

.h2-box h2{
    color: #333333;
    margin: 0 0 16px 16px;
    font-size:16px;
    font-weight: 600;
}

.h2-ul-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.h2-ul-box li{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
    width: 240px;
    margin:0 0 20px 0px;
    border: solid 1px #dcdcdc;
    position: relative;
}

.h2-ul-box a{
    display: inline-block;
    padding: 10px 15px;
    width: 200px;
}

.h2-ul-box li::before{
    content: "〉";
    font-size: 8px;
    color: #333333;
    position: absolute;
    top: 36%;
    left: 3%;
}

.h2-ul-box li:hover{
    background-color: #f4f4f4;
}

.sub-box{
    max-width:1000px ;
    margin: auto;
}

.sub-box h2{
    border-top:solid 2px #000000;
    border-bottom:dotted 1px #000000;
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0;
}

.sub-box section{
    border-bottom:dotted 1px #000000;
}

.sub-box h3{
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.sub-box ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;   
}

.sub-box li{
    display: inline;
    width: 25%;
    margin-bottom: 20px;
}

.sub-box a{
    font-size: 14px;
    font-weight:300;
}

.sub-box a::before{
    display: inline-block;
    content: "〉" ;
    font-size: 10px;
    transform:scale(0.8);
    color: #333333;
    margin-right: 10px;
}

.sub-box a:hover{
    text-decoration: underline;
}

.backprev{
    max-width:1000px ;
    margin: 60px auto 80px auto;
    font-weight: 300;
}

.backprev p::before{
    margin-right: 16px;
    content: "<";
    font-size: 10px;
    transform: scale(0.8);
    color: #333333;
}

.backprev a:hover{
    text-decoration: underline;
}

.follow-sns {
    height: 90px;
    text-align: center;
    border-top: solid 2px #9a9a9a;
    border-bottom:solid 2px #9a9a9a ;
}

.follow-sns li{
    display: inline;
    line-height: 90px;
    height: 90px;
    font-weight: 800;
}

.follow-sns img{
    vertical-align: middle;
    height: 30px;
    margin-left: 35px;
}

.footer-column-box{
    width: 1300px;
    margin: auto auto 40px;
    display: flex;
    flex-wrap: wrap;
}

.footer-column{
    width:  25%;
    list-style: none;
    margin:60px auto 20px auto ;
}

.footer-column li{
    padding-top: 16px;
    font-size: 14px;
}

.footer-column strong{
    display: inline-block;
    padding-bottom:12px;
    font-size: 16px;
    font-weight: 900;
}

.footer-column a{
    color: #333333;
}

.footer-column a:hover{
    text-decoration: underline;
}

.footer-column li::before{
    display: inline-block;
    content: "〉";
    font-size: 10px;
    color: #333333;
    transform: scale(0.8);
    margin-right: 10px;
}

.footer-menu{
    border-top: solid 1px #9a9a9a;
    margin-bottom: 100px;
}

.site-policy{
    width: 1000px;
    margin:70px auto 20px;
    display: flex;
}

.site-policy li{
    font-size: 12px;
    list-style: none;
    margin-right: 15px;
}

.site-policy a{
    color: #9a9a9a;
}

.site-policy a:hover{
    text-decoration: underline;
}

.site-policy li::before{
    content: "|";
    margin-right: 15px;
    color: #9a9a9a
}

.site-policy li:first-child::before{
    content: none;
}

small{
    font-size: 10px;
    width: 1000px;
    margin: auto;
    color: #333333;
}